form {
  .btn-primary {
    width: 100%;
    background: #5369f8;
  }
  span{
    letter-spacing: 0.5px;
    color: #5369f8;
    text-decoration: underline;
    right: 0;
  }
  .button{
   button{
    color: #5369f8;
    display: block;
    text-decoration: underline;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
   }
    
  }
}
