<div class="container">
  <div
    class="card shadow mx-auto"
    style="height: 650px; width: 1200px; margin-top: 4%; position: relative"
  >
    <div class="row">
      <div class="col p-5">
        <router-outlet></router-outlet>
      </div>
      <div class="col">
        <div class="container p-0">
          <img
            class="col"
            src="./assets/images/auth-bg.jpg"
            alt="Card image cap"
            height="648px"
            width="550px"
            style="position: absolute"
          />
          <div style="position: relative; left: 40%; padding-top: 550px">
            <img src="./assets/images/logo-light.png  " />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
