
.calendar {
    float: left;
    margin-bottom: 0;
}

.fc{
    color: rgb(50, 50, 50);
    a{
        text-decoration: none;
    }
}

.fc-view-container,
.fc-view-harness {
    .table-bordered {
        th,
        td {
            border: 1px solid #e2e7f1;
            
        }
    }
    .fc-popover {
        z-index: 1000 !important;
        background-color: lightgray;
    }
}

.fc-view {
    margin-top: 30px !important;
}

.none-border {
    .modal-footer {
        border-top: none;
    }
}

.fc-toolbar {
    margin: 10px 0 5px 0 !important;

    h2 {
        font-size: 1.25rem !important;
        line-height: 1.875rem !important;
        text-transform: uppercase;
    }
}

.fc-day-grid-event {
    .fc-time {
        font-weight: 500;
    }
}

th.fc-day-header,
th.fc-col-header-cell {
    padding: 0.5rem 0 !important;
    
}

.fc-day {
    background: transparent;
}

.fc-toolbar {
    .fc-state-active,
    .ui-state-active,
    button:focus,
    button:hover,
    .ui-state-hover {
        z-index: 0;
    }
}

.fc {
    th.fc-widget-header {
        background: gray;
        font-size: 13px;
        line-height: 20px;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.fc-unthemed {
    th,
    td,
    thead,
    tbody,
    .fc-divider,
    .fc-row,
    .fc-popover {
        border-color:gray;
    }

    td.fc-today,
    .fc-divider {
        background:gray;
    }
}

.fc-button {
    background:gray;
    border: none;
    color: black;
    text-transform: capitalize;
    box-shadow: none;
    border-radius: 3px;
    margin: 0 3px;
    padding: 6px 12px;
    height: auto;
    
}

.fc-text-arrow {
    font-family: inherit;
    font-size: 1rem;
}

.fc-state-hover,
.fc-state-highlight,
.fc-cell-overlay {
    background:gray;
}

.fc-state-down,
.fc-state-active,
.fc-state-disabled {
    background-color:#5369f8;
    color: white;
    text-shadow: none;
}

.fc-unthemed {
    .fc-today {
        background: white;
    }
}

.fc-event {
    border-radius: 2px;
    border: none !important;
    cursor: move;
    font-size: 0.8125rem !important;
    margin: 5px 7px !important;
    padding: 5px 5px !important;
    // text-align: center;
}

.external-event {
    cursor: move;
    margin: 10px 0;
    padding: 8px 10px;
    color: white;
    border-radius: 4px;
}

.fc-basic-view {
    td.fc-week-number {
        span {
            padding-right: 8px;
        }
    }

    td.fc-day-number {
        padding-right: 8px;
    }

    .fc-content {
        color: white;
    }
}

.fc-time-grid-event {
    .fc-content {
        color: white;
    }
}

.fc-content-skeleton {
    .fc-day-top {
        .fc-day-number {
            float: right;
            height: 20px;
            width: 20px;
            text-align: center;
            line-height: 20px;
            background-color: lightgray;
            border-radius: 50%;
            margin: 5px;
            font-size: 11px;
            text-decoration: none;
        }
    }
}


.fc-toolbar {
    .btn {
        font-size: 0.800rem;
        letter-spacing: 1px;
        background-color: #5369f8;
        border: none;
    }
}

.fc-list-item-title,
.fc-list-item-time {
    color: white;
}

[dir="rtl"] .fc-toolbar {
    .btn-group {
        .btn {
            &:first-child {
                border-top-left-radius: 0 !important;
                border-bottom-left-radius: 0 !important;
                border-radius: 0.25rem;
            }
            &:last-child {
                border-top-right-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
                border-radius: 0.25rem;
            }
        }
    }
}
.fc-more-link {
    color: #5369f8 !important;
    margin: 1px 3px;
}

.fc-daygrid-dot-event {
    color: white !important;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat 96% center;
    padding-right: 10px;
// background:url('http://www.free-icons-download.net/images/small-down-arrow-icon-15593.png');
	// background-repeat:no-repeat;
	// background-size:16px 17px;
	// background-position:right 0px;
}