<div class="row mb-4 justify-content-between">
  <div class="col-4">
    <h5>Calendar</h5>
  </div>
  <div class="col-4">
    <div class="row justify-content-end">
      <div class="col-4">
        <button
          class="btn btn-primary"
          routerLink="/display/calendarDisplay/calendar"
        >
          Calendar
        </button>
      </div>
      <div class="col-4">
        <button
          class="btn btn-primary"
          routerLink="/display/calendarDisplay/tasks"
        >
          Tasks
        </button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
