label {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: rgb(73, 73, 73);
  margin-bottom: 6px;
}
input {
  font-size: 12px;
  padding: 12px;
}
.btn {
  background-color: #5369f8;
}
