label {
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 500;
  color: rgb(73, 73, 73);
  margin-bottom: 6px;
}
input,
select {
  font-size: 14px;
  padding: 8px;
}

.custom-select {
  width: 200px;
}
