<div class="container">
  <div class="row" style="padding-bottom: 20px">
    <div class="col-auto" style="margin-right: auto">
      <h5 style="font-family: 'IBM Plex Sans'; letter-spacing: 1px">Users</h5>
    </div>
    <div class="col-auto">
      <button
        class="btn btn-primary"
        routerLink="addUser"
        style="margin-right: 20px; width: 100px"
      >
        Add User
      </button>
      <button
        class="btn btn-primary"
        routerLink="userList"
        style="width: 100px"
      >
        Users
      </button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
